body{
    background-size: cover;
    background-position: center;
}

.heading{
    font-size: large;
    margin:0px;
    width: 100%;
}

P{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}

.object_name{

    font-size: 15px;
    font-weight: bold;
}

h3{
    color: white;
}

input{
    width: 25%;
}

canvas{
    border-radius: 18px;
    box-shadow: 7px,7px,7px,white;
  margin-top: 90px;

}